.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000000;
    margin: 15px 5px;
    flex-shrink: 2;
}

.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex:1 1 auto;
}

.card img{
    width: 80%;
    margin: 5px;
    max-height: 80%;
}

.card-name{
    display: flex;
    justify-content: center;
    margin: 5px;
    flex: 0 0 auto;
    overflow: hidden;
}

.card h3{
    margin: 0;
    color: rgb(12, 39, 30);
    font-size: 1em;
    text-shadow: 2px 2px 3px rgba(26, 135, 163, 0.73);
}

.big-card{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 2px 2px 4px #000000;
    align-self: center;
    align-items: center;
    border-radius: 8px;
}

.big-card img{
    width: auto;
    height: 80%;
}

.big-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-buttons{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.card-buttons .delete{
    border: none;
    color: white;
    background-color: rgba(255,0,0,0.5);
    box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.4);
    font-size: 1.1em;
    display: inline-block;
    border-radius: 10px;
    margin: 10px 50px;
}

.card-buttons .edit{
    border: none;
    color: white;
    background-color: rgba(251, 255, 0, 0.5);
    box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.4);
    font-size: 1.1em;
    display: inline-block;
    border-radius: 10px;
    margin: 10px 50px;
}

.big-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.info{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}