.all-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px;
}

.deleteButtonInstruction-flashcards .instruction{
    left: 60%;
}

.addButtonIntruction-flashcards .instruction{
    left: 50%;
}

.playButtonInstruction-flashcards .instruction{
    left: 65%;
}