.cards-select{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.luck-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-cards{
    flex:1 0 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

