
.select-cards-cards-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.select-cards-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-cards-all-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 40%;
}

.select-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 40%;
}

.select-cards-games-select{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectCards-instruction .instruction{
    top: 70%;
    left: 40%;
}

.playGameIntruction-instruction .instruction{
    top:70%;
    left: 40%;
}

.cardSelectInstruction-instruction .instruction{
    top:8%;
    left: 10%;
    height: 5px;
}